@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Thinoo';
  src: url('/fonts/thinoothin.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  font-family: 'Fresca', sans-serif;
  background-color: black;
}
.custom-img {
  background-image: url('/main.png')
}

.sans-serif {
  font-family: 'sans-serif';
}

.thinoo {
  font-family: 'Thinoo';
}